<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Comitr</title>
    <link rel="stylesheet" href="https://unpkg.com/sheryjs/dist/Shery.css" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="icon" type="image/png" href="/Images/Comitr-Logo.png">

  </head>
  <body>
 
      <nav>
        <div><img src="/Images/Comitr-Logo.png" alt="Comitr-Logo" /></div>
        <div class="navbx">
          <a href="/"><h4 class="list-element">Home</h4></a>
          <a href=""><h4 class="list-element">Know your Alumni</h4></a>
          <a href="/aboutus"> <h4 class="list-element">About us</h4></a>
         
           <a href=""><h4 class="list-element" id="logbtn">Log in / Sign in </h4></a>
         <!-- <div class="list-element" id="theme-toggle"></div> -->
        </div>
      </nav>

    <div class="container1">
      <div class="headerbox">
        <h1>
          From <br /><span> Confusion</span> <br />
          To <br /><span>Clarity</span>
        </h1>
        <div class="adbtn"><p>Ask Your Doubt's</p></div>
      </div>
      <div class="headerbox">
     <div class="textst">
  <div class="linehead">
    <div class="wordhead">
      <span class="ninty">S</span><span class="ninty">e</span><span class="ninty">n</span><span class="ninty">i</span><span class="ninty">o</span><span class="ninty">r</span>
    </div>
    <div class="wordhead">
      <span class="ninty">J</span><span class="nint">u</span><span class="nint">n</span><span class="ninty">i</span><span class="ninty">o</span><span class="ninty">r</span>
    </div>
    <div class="wordhead">
      <span class="ninty">I</span><span class="ninty">n</span><span class="ninty">t</span><span class="ninty">e</span><span class="ninty">r</span><span class="ninty">a</span><span class="ninty">c</span><span class="ninty">t</span><span class="ninty">i</span><span class="ninty">o</span><span class="ninty">n</span>
    </div>
  </div>

  <div class="linehead">
    <div class="wordhead">
      <span class="ninty">Y</span><span class="ninty">o</span><span class="ninty">u</span><span class="nint">r</span>
    </div>
    <div class="wordhead">
      <span class="ninty">C</span><span class="ninty">o</span><span class="ninty">l</span><span class="ninty">l</span><span class="ninty">e</span><span class="ninty">g</span><span class="ninty">e</span>
    </div>
    <div class="wordhead">
      <span class="nint">C</span><span class="ninty">o</span><span class="ninty">m</span><span class="ninty">p</span><span class="ninty">a</span><span class="ninty">n</span><span class="ninty">i</span><span class="ninty">o</span><span class="ninty">n</span>
    </div>
  </div>

  <div class="linehead">
    <div class="wordhead">
      <span class="nint">C</span><span class="nint">o</span><span class="ninty">n</span><span class="ninty">n</span><span class="ninty">e</span><span class="nint">c</span><span class="nint">t</span>
    </div>
    <div class="wordhead">
      <span class="ninty">L</span><span class="nint">e</span><span class="ninty">a</span><span class="ninty">r</span><span class="ninty">n</span>
    </div>
    <div class="wordhead">
      <span class="ninty">G</span><span class="nint">r</span><span class="nint">o</span><span class="ninty">w</span>
    </div>
  </div>

  <div class="linehead">
    <div class="wordhead">
      <span class="ninty">T</span><span class="ninty">o</span><span class="nint">g</span><span class="nint">e</span><span class="ninty">t</span><span class="ninty">h</span><span class="ninty">e</span><span class="ninty">r</span>
    </div>
    <div class="wordhead">
      <span class="ninty">W</span><span class="ninty">e</span>
    </div>
    <div class="wordhead">
      <span class="ninty">S</span><span class="ninty">i</span><span class="ninty">m</span><span class="ninty">p</span><span class="ninty">l</span><span class="ninty">i</span><span class="ninty">f</span><span class="nint">y</span>
    </div>
    <div class="wordhead">
      <span class="ninty">C</span><span class="ninty">l</span><span class="ninty">g</span>
    </div>
  </div>

  <div class="linehead">
    <div class="wordhead">
      <span class="ninty">E</span><span class="ninty">v</span><span class="ninty">e</span><span class="nint">r</span><span class="nint">y</span>
    </div>
    <div class="wordhead">
      <span class="ninty">D</span><span class="nint">o</span><span class="ninty">u</span><span class="ninty">b</span><span class="ninty">t</span>
    </div>
    <div class="wordhead">
      <span class="nint">A</span><span class="ninty">n</span><span class="ninty">s</span><span class="ninty">w</span><span class="ninty">e</span><span class="nint">r</span><span class="nint">e</span><span class="ninty">d</span>
    </div>
  </div>

  <div class="linehead">
    <div class="wordhead">
      <span class="ninty">C</span><span class="ninty">o</span><span class="ninty">n</span><span class="ninty">n</span><span class="ninty">e</span><span class="nint">c</span><span class="nint">t</span>
    </div>
    <div class="wordhead">
      <span class="ninty">W</span><span class="ninty">i</span><span class="ninty">t</span><span class="ninty">h</span>
    </div>
    <div class="wordhead">
      <span class="ninty">P</span><span class="ninty">e</span><span class="nint">e</span><span class="nint">r</span><span class="ninty">s</span>
    </div>
  </div>

  <div class="linehead">
    <div class="wordhead">
      <span class="ninty">L</span><span class="ninty">e</span><span class="ninty">a</span><span class="ninty">r</span><span class="ninty">n</span>
    </div>
    <div class="wordhead">
      <span class="ninty">G</span><span class="ninty">r</span><span class="ninty">o</span><span class="ninty">w</span>
    </div>
    <div class="wordhead">
      <span class="nint">T</span><span class="ninty">h</span><span class="ninty">r</span><span class="ninty">i</span><span class="ninty">v</span><span class="ninty">e</span>
    </div>
  </div>
  <center> <p id="hovertagline">Confused? Hover to find clarity &nbsp 👆</p></center>
</div>


      </div>
    </div>
    <!-- <div class="blurlayer">
      <div class="logpage">
        
      </div> -->
    </div>
    <!--  Gsap is needed for Basic Effects -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/gsap.min.js"></script>

    <!-- Scroll Trigger is needed for Scroll Effects -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/ScrollTrigger.min.js"></script>

    <!-- Three.js is needed for 3d Effects -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/0.155.0/three.min.js"></script>

    <!-- ControlKit is needed for Debug Panel -->
    <script src="https://cdn.jsdelivr.net/gh/automat/controlkit.js@master/bin/controlKit.min.js"></script>
    <script
      type="text/javascript"
      src="https://unpkg.com/sheryjs/dist/Shery.js"
    ></script>
    <script src="/public/Javascripts/"></script>
  </body>
</html>

